{:itonami.blueprint/id "cloud-itonami-iso3166-usa-dot"
 :itonami.blueprint/name "Independent DOT Transportation-Procurement Compliance Service — United States"
 :itonami.blueprint/iso3166 "USA-DOT"
 :itonami.blueprint/iso3166-parent "USA"
 :itonami.blueprint/ooyake-id "gov.usa.dot"
 :itonami.blueprint/domain :public-sector/agency-compliance
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:public-spend-transparency :sme-market-access :cross-border-friction-reduction]
 :itonami.blueprint/governor :market-entry-compliance-governor
 :itonami.blueprint/robotics false
 :itonami.blueprint/required-technologies [:identity :forms :dmn :bpmn :audit-ledger]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/organization {:ooyake-id "gov.usa.dot" :official-url "https://transportation.gov" :head-role "Secretary of Transportation" :contact-page "https://www.wikidata.org/wiki/Q852211"}}
